@import '../../features/editor/styles/index.css';
@import '../../features/dashboard/styles/dashboard.css';

html,
body,
#root {
  min-height: 100%;
}

body {
  margin: 0;
  background: #f6f3ed;
}

body {
  background: linear-gradient(180deg, #f7f7f8 0%, #f0f2f4 100%);
}

